@using System.Web.UI.WebControls
@using _036_MoviesMvcWissen.Helpers
@model _036_MoviesMvcWissen.Models.MoviesIndexViewModel
@{
    ViewBag.Title = "Movies";
    var movies = Model.Movies;
}

<h2>@ViewBag.Title</h2>

@*@Html.Action("Welcome")*@

@{ Html.RenderAction("Welcome");}

@Html.ActionLink("Movies Reports","Movies","Reports")
<br/>

<br />
@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td style="width: 20%">Production Year:</td>
            <td>@Html.DropDownList("YearId", Model.Years, new { @class = "dropdown form-control" })</td>
        </tr>
        <tr class=" ">
            <td colspan="2">
                @Html.Button(" Search", new { @class = "btn btn-primary fa fa-search", type = "submit" })
            </td>
        </tr>

    </table>

}
<br />

<a href="~/Movies/Add">Add Movie</a>
<br />
<label class="text-success">@TempData["Info"]</label>

<table class="table" style="background-color: gray">

    <tr>
        <td><b> </b></td>
        <td><b>Name</b></td>
        <td><b>Production Year</b></td>
        <td><b>Box Office Return</b></td>
    </tr>



    @foreach (var f in Model.Movies)
    {
        <tr>
            <td>@Html.ActionLink(" ", "Edit", new { id = f.Id }, new { @class = "fa fa-edit btn btn-danger" }) | @Html.ActionLink(" ", "Delete", new { id = f.Id }, new { @class = "fa fa-trash-o btn btn-danger" }) | @Html.ActionLink(" ", "Details", new { id = f.Id }, new { @class = "fa fa-info btn btn-warning" })</td>
            <td>@f.Name</td>
            <td>@f.ProductionYear</td>
            <td>@f.BoxOfficeReturn</td>


        </tr>
    }
    <tr>
        @*  <td colspan="3" style="text-align: right"><span><b>@Model.Count record found.</b></span></td>*@
        <td colspan="4" style="text-align: right"><span><b>@ViewData["count"] record found.</b></span></td>
    </tr>

</table>


<div class="row">



    @for (int i = 0; i < @movies.Count; i++)
    {
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header btn">

                    @Html.ActionLink(movies[i].Name, "Details", new { id = movies[i].Id }, new { @class = "btn" })

                    
                </div>
                <div class="card-body">
                    <h5 class="card-title">@movies[i].ProductionYear</h5>
                    <p class="card-text">@movies[i].BoxOfficeReturn</p>
                </div>
            </div>
        </div>
        if ((i + 1) % 3 == 0)
        {

        @:</div><div class="row">
        }
    }
</div>