
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies MVS | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("myh2style", false)

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.tr.js"></script>




</head>
<body>

    <div class="header">
        <nav class="navbar  navbar-expand-md sticky-top navbar-light " style="background-color: purple">
            <div class="container">


                @*<a class="navbar-brand " href="~/Home/Index">Movies MVC</a>*@
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Movies MVC</a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">


                            @*<a class="nav-link " href="/Movies/Index">Movies <span class="sr-only">(current)</span></a>*@

                            <a class="nav-link " href="@Url.RouteUrl("Default",new {controller="Movies",action="Index"})">Movies</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("Index","Directors")">Directors</a>
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link" href="@Url.Action("Index","Reviews")">Reviews</a>*@
                            <a class="nav-link" href="@Url.RouteUrl("GetReviews")">Reviews</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Demos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/Demos/Razor1">Razor1</a>
                                <a class="dropdown-item" href="~/Demos/Razor2">Razor2</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="~/Demos/FromRoute/8">Get Value from route.</a>
                                <a class="dropdown-item" href="~/Demos/FromQueryString?name=Hüseyin&surname=Akkaya">Get Value from queryString.</a>
                                <a class="dropdown-item" href="~/Demos/GetPeople">Get People</a>
                                <a class="dropdown-item" href="~/Demos/GetPeopleAjax">Get People AJAX</a>
                                <a class="dropdown-item" href="~/Demos/GetPeopleHtml">Get People Html</a>
                            </div>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa-user"> @User.Identity.Name</span>

                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index","Home",new {area="Admin"})">Admin page(Url.Action)</a>
                                    <a class="dropdown-item" href="~/Admin/Home">Admin page</a>
                                    <a class="dropdown-item" href="~/Login/Logout">Logout</a>
                                </div>
                            </li>

                        }
                        else
                        {
                            <ul class="navbar-nav mr-auto justify-content-between">
                                <li class="nav-item">
                                    <a class="nav-link " href="@Url.Action("Index","Login")"><span class="fa fa-sign-in font-weight-bold"> Login</span></a>
                                </li>
                            </ul>
                        }

                    </ul>



                </div>
            </div>
        </nav>

        <div class="body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <div class="footer"></div>
    </div>





</body>
</html>
